{% load static %}
<!DOCTYPE html>

<html lang="es">
  <head>
    <link rel="icon" href='{% static "imagenes/Icono.png" %}' type="image/png" sizes="160x160">
    <title>AECOlink</title>
    <!-- Metadades (Pendent entendre que fan) -->
    <meta charset="utf-8">
    <meta name="description" content="Este es un documento HTML5">
    <meta name="keywords" content="HTML5, CSS, JavaScript">

    <script src='{% static "scripts/sticky_navbar.js" %}'></script>

    <!-- Crida a fulles d'estil -->
    {% block archivos_css %}{% endblock %}
     <link rel="stylesheet" href='{% static "css/generales.css" %}'>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet"> <!-- Fuentes google fonts -->
  </head>

  <body>
    <header>
        <h1 id="tituloprincipal"><a id="navegacion" href="">AECOlink</a></h1> <h2> {% block titlesection %}{% endblock %} </h2>
    </header>

    <div id="navbar">
      <nav>
          <ul class="nav-ul">
            <li class="nav-li"><a class="navegacion" href="temas.html">Noticias AECO</a></li>
            <li class="nav-li"><a class="navegacion" href="registro.html">Registro</a></li>
            <li class="Menu dropdown nav-li">
                <div class="navegacion">Menu</div>
                <ul class="dropdown-content">
                    <li><a class="navegacion" href="acercade.html">Acerca de</a></li>
                    <li><a class="navegacion" href="centroayuda.html">Centro de ayuda</a></li>
                    <li><a class="navegacion" href="privacidad.html">Privacidad y Términos</a></li>
                    <li><a class="navegacion" href="privacidad.html">Publicidad</a></li>
                    <li><a class="navegacion" href="privacidad.html">Servicios empresariales</a></li>
                </ul>
            </li>
          </ul>
        <div class="clearfloat"></div>
      </nav>
    </div>

    <main>
        {% block main %}{% endblock %}
    </main>
 </body>
</html>