{% extends 'base_body.html' %}

{% block titlesection %}
    Inicio
{% endblock %}

{% block navbar %}
    {% include 'navegador.html' %}
{% endblock %}

{% block archivos_css %}
{% load static %}
<link rel="stylesheet" href='{% static "css/post.css" %}'>
{% endblock %}
{% block main %}
    <div id="main-left"></div>
    <div id="main-center">
        <div id="post-box">
            <div id="post-title">{{ post.title }}</div>
            <hr class="post-title-separator">
            <div id="post-image">{{ post.image }}</div>
            <div id="post-text">{{ post.body }}</div>
        </div>
    </div>
    <div id="main-right"></div>
{% endblock %}