
<div id="navegador">
      <nav>
        <div><a class="navegacion" href="temas.html">Noticias AECO</a></div>
        <div><a class="navegacion" href="registro.html">Registro</a></div>

        <div class="Menu">
             <details>
             <summary>Más</summary>
             <blockquote><a href="acercade.html">Acerca de</a></blockquote>
             <blockquote><a href="centroayuda.html">Centro de ayuda</a></blockquote>
             <blockquote><a href="privacidad.html">Privacidad y Términos</a></blockquote>
             <blockquote><a href="publicidad.html">Publicidad</a></blockquote>
             <blockquote><a href="servicios.html">Servicios empresariales</a></blockquote>
             </details>
        </div>

        <div class="clearfloat"></div>
    </nav></div>
